*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", serif;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    max-width: 70%;
    margin: 0 auto;    
}

.container-main{
    max-width: 60%;
    margin: 0 auto;
}


/* debug */
.bg-magenta{
    background-color: magenta;
    border: 1px solid black;
}

.bg-cyan{
    background-color: cyan;
    border: 1px solid black;
}

/* header  */
header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 900;
    /* debug */
}

header> a{
    flex-basis: 10%;
    padding: 0 10px;
}

header a{
    color: black;
    text-decoration: none;
}

nav{
    flex-basis: 90%;
    height: 100%;
    align-items: center;
    padding: 0 15px;
}

.nav-item{
    padding: 0 10px;
    height: 100%;
}

.nav-item:hover{
    border-bottom: 2px solid #3e87fb;
    padding: 28px 0;
}

/* main  */
main{
    margin-top: 80px;
}

/* jumbo  */
.jumbo{
    background-color: #b4d0e6;
    padding: 100px 0;
    /* debug */
    /* min-height: 300px; */
}

.jumbo img{
    max-width: 100%;
}

.jumbo a{
    text-decoration: none;
}

.box{
    /* debug */
    height: 200px;
    background-color: orange;
}

.title{
    font-size: 40px;
    margin-bottom: 40px;
    /* debug */
    min-height: 100px;
}

.txt{
    flex-basis: 30%;
    font-weight: 500;
    /* debug */
    min-height: 100px;
}

.txt div{
    margin: 30px 0;
}

.txt i{
    font-size: 50px;
}

.img{
    flex-basis: 70%;
    /* debug */
    /* min-height: 100px; */
}

.img img{
    max-width: 100%;
}

/* section  */

.section-title{
    margin: 20px 0;
}

.section-title *{
    margin: 15px 0;
}

.section-title h2{
    font-size: 40px;
}

.section-title span{
    margin-right: 15px;
}

.stretch{
    height: 100%;
    align-items: stretch;
}

.plan{
    flex-basis: 32%;
    margin-bottom: 40px;
    /* debug */
    min-height: 100px;
}

.number{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 2px solid #eaeaeb;
}

.info *{
    margin-bottom: 10px;
    position: relative;
}

.info ul{
    list-style: none;
}

.info a{
    color: #0061fe;
}

.info .button{
    display: inline-block;
    margin: 20px 0;
}

.part-1{
    padding: 0 10px;
    margin-bottom: 30px;
    flex-basis: 70%;
}

.part-2{
    display: inline-block;
    margin-top: 20px;
    padding: 0 10px;
    flex-basis: 30%;
}

.part-2 .button{
    position: absolute;
    right: 20px;
    top: 30px;

}

/* partner section  */
.partner{
    margin: 100px 0;
}

.partner .txt{
    padding: 0 10px;
}

/* business section  */
.business .title{
    font-size: 40px;
}

.business img{
    max-width: 100%;
}

.business a{
    display: inline-block;
    margin-top: 30px;
}
.space{
    margin-top: 100px;
}



.light{
    color: #919fc0;
    margin-bottom: 40px;
}

.blue{
    color: #0061fe;
    font-weight: 700;
}

/* borders */
.border-gray{
    border: 2px solid #eaeaeb;
}

.border-bottom{
    border-bottom: 2px solid #eaeaeb;
    padding: 20px;
}



/* button  */
.button{
    background-color: #0061fe;
    padding: 8px 16px;
    color: white;
}

.button-gray{
    text-decoration: none;
    background-color: white;
    padding: 8px 16px;
    color: gray;
    border: 1px solid gray;
}

.button:hover{
    background-color: #3e87fb;
}


/* footer */
footer{
    /* debug */
    height: 300px;
    background-color: black;
    
}

.block{
    margin-top: 20px;
    flex-basis: 20%;
    /* debug */
    min-height: 100px;
}

.main-footer{
    margin-top: 20px;
    /* debug */
    min-height: 100px;

}